/*Ana Luiza Cericatto 8918460*/
body {
    font: normal normal normal 15px/1.5 'Roboto', sans-serif ;
    background-color: hsla(240, 30%, 67%, 0.7);
    height: 100vh;
    width: 100vw;
  }

h2 {
  color: #00F;
  font-size: 150%;
}

header{
  background-color: hsl(260, 50%,70%);
}

main {
  width: 68vw;
  float: left;
  background-color: hsl(334, 26%, 67%)
}

aside{
  width: 20vw;
  float: right;
  background-color: hsl(195, 47%, 70%)
}

footer{
  clear:both;
  background-color: hsl(305, 66%, 72%)
}

.structural {
  padding: 10px;
  margin: 10px ;
  border: 3px dashed black;
}

#p1 {
  color:rgb(58, 38, 144);
}

#p2 {
  color: rgb(94, 23, 23);
}

a:hover {
  color: #86F;
}

footer p{
  font-size: 10px;
}